@import "partials/reset";
@import "partials/clearfix";

body {
  h1 {
    font-family: 'Concert One', cursive;
    font-size: 40px;
    text-align: center;
  }
}

img{
  position: absolute;
  z-index: -1;
  top: 50px;
  left: 450px;
  display: block;
  margin: auto;
}

.gridsDiv {
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin: 50px 0 0 0;
  position: absolute;
  left: 620px;
  top: 120px;
  #colorGrid{
    flex: 0 0 100px;
    margin: 50px 0 0 100px;
  }
  #paintingGrid{
    flex: 0 0 1000px;

  }
}


#erase{
  font-family: 'Concert One', regular;
  font-size: 20px;
  width:  72px
}

#clear{
  font-family: 'Concert One', regular;
  font-size: 20px;
  width:  72px
}


